DATABASE_URL=postgres://javabin:javabin@localhost:5432/javabinkids
SENDGRID_API_KEY=SG.your_api_key
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
BASE_URL=http://localhost:5175
# Prepend til epost subject. Brukes kun i DEV og TEST for å luke bort ikke-prod eposter.
# Ta bort/Ikke sett denne i prod for å ikke ha med prefix i epost subject i prod.
EMAIL_SUBJECT_PREFIX=[DEV]
